<h2 class="title">CONTACTO</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
           <div class="card" (click)="abrirEnlace(true)">
               <div class="card-body">
                <img src="../../../assets/contacto/mail.svg" alt="whatsapp icon">
                    <h5 class="card-title">Whatsapp</h5>
                </div>
                <div class="card_info">
                    <p>334 650 28 71</p>
                </div>
           </div>
        </div>

        <div class="col-md-6">
           <div class="card" (click)="abrirEnlace(false)">
                <div class="card-body">
                <img src="../../../assets/contacto/whats.svg" alt="whatsapp icon">
                    <h5 class="card-title">Twitter</h5>
                </div>
                <div class="card_info">
                    <p>@Basher_Dev</p>
                </div>
           </div>
        </div>
    </div>
</div>
